<div class="eqLogic-widget eqLogic karotz" style="min-height: 204px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 5px;"></i>
  <i class='icon loisir-microphone52 pull-left cursor micro' style="margin-top: 3px;margin-left: 25px;" title="Gérer le son"></i>
  <center>#name#</center></br>

  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <span class="cmd cmd-widget" data-cmd_id="#earspos_id#" style="display:none;"></span>
  <span class="cmd cmd-widget" data-cmd_id="#tts_id#" style="display:none;"></span>
  <span class="cmd cmd-widget" data-cmd_id="#sleeping_id#" style="display:none;"></span>
  <span class="cmd cmd-widget" data-cmd_id="#wakeup_id#" style="display:none;"></span>

  <center><span style="position : absolute;top :92px;z-index: 2;margin-left:-9px;" class="led_color cursor"><i class="fa fa-circle fa-lg" style="color : #led_color#;"></i></span></center>
  <center>
    <img class="cursor state" src="plugins/karotz/core/template/images/#state#.png" alt="Karotz" height="85">
    <div style="width:80%">
      <input data-clear-btn="false" data-cmd_id="#couleur_id#" class="cmd" type="color" value="#led_color#">
    </div>
  </center>
  <center>
   <span class="cmd cmd-widget cursor" data-cmd_id="#oreilleraz_id#" style="font-size: 1.2em;margin-left:15px;">  <i class="fa fa-crop"></i></span>
   <span title="Position manuelle"><i class="fa fa-user cursor ears" style="font-size: 1.2em;margin-left:15px;"></i></span>
   <span class="enableclock">
     <span class="cmd cmd-widget cursor" data-cmd_id="#clock_id#" style="font-size: 1.2em;margin-left:15px;">  <i class="icon divers-circular114"></i></span>
   </span>
   <span class="enablemoods">
   <span class="cmd cmd-widget cursor" data-cmd_id="#moods_id#" style="font-size: 1.2em;margin-left:15px;">  <i class="icon personne-bear2"></i></span>
   </br>
 </span>
 <span class="squeezeboxControl">
   <span class="cmd cmd-widget cursor" data-cmd_id="#squeezeon_id#" style="font-size: 1.2em;"><i class="fa fa-check"></i></span>
   <span class="cmd cmd-widget cursor" data-cmd_id="#squeezeoff_id#" style="font-size: 1.2em;margin-left:15px;">  <i class="fa fa-times"></i></span>
 </br>
</span>
<span class="cmd cmd-widget cursor" data-cmd_id="#pulseon_id#" style="font-size: 1.2em;margin-left:15px;">  <i class="icon jeedom2-lightbulb58"></i></span>
<span class="cmd cmd-widget cursor" data-cmd_id="#pulseoff_id#" style="font-size: 1.2em;margin-left:15px;">  <i class="icon jeedom2-lightbulb25"></i></span>
</center>
<style>
  @-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blinkKarotz{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
  }
</style>
<script>
  if('#led_pulse#' == 1){
    $('.eqLogic[data-eqLogic_uid=#uid#] .led_color').addClass('blinkKarotz');
  }
  if('#enablesqueezebox#' == 0){
    $('.eqLogic[data-eqLogic_uid=#uid#] .squeezeboxControl').hide();
  }
  if('#enableclock#' == 0){
    $('.eqLogic[data-eqLogic_uid=#uid#] .enableclock').hide();
  }
  if('#enablemoods#' == 0){
    $('.eqLogic[data-eqLogic_uid=#uid#] .enablemoods').hide();
  }
  $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    jeedom.cmd.execute({id: '#refresh_id#'});
  });
  $('.eqLogic[data-eqLogic_uid=#uid#] .state').on('click', function() {
    if('#sleep#' == '0'){
     jeedom.cmd.execute({id: '#sleeping_id#'});
   }else{
     jeedom.cmd.execute({id: '#wakeup_id#'});
   }
 });
  $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
    if($(this).data('cmd_id') == '#color_id#'){
      return
    }
    jeedom.cmd.execute({id: $(this).data('cmd_id')});
  });
  $('#led_color_#uid#').on('click', function() {
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd[data-cmd_id=#color_id#]').click();
  });
  $('.eqLogic[data-eqLogic_uid=#uid#] .cmd[data-cmd_id=#color_id#]').on('change', function() {
    jeedom.cmd.execute({id: $(this).data('cmd_id'),value: {color:$(this).value()}});
  });

  $('.eqLogic[data-eqLogic_uid=#uid#] .micro').on('click', function() {
    var result = prompt("Que voulez vous que je dise ?")
    if (result !== null) {
      jeedom.cmd.execute({id: '#tts_id#',value: {message:result}});
    }
  });

  $('.eqLogic[data-eqLogic_uid=#uid#] .ears').on('click', function() {
    var rightear = prompt("Position oreille droite (0-16) ?")
    var leftear = prompt("Position oreille gauche (0-16) ?")
    jeedom.cmd.execute({id: '#oreillepos_id#',value: {message:rightear,title:leftear}});
  });
</script>

</div>

