<div class="eqLogic-widget eqLogic" style="background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-version="mobile" >
<style  type="text/css">
@font-face {
    font-family: liquid;
    src:   url("plugins/nimbus/core/template/fonts/nimbus.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
span.ecran1_#ecran1_id# {
    font-family: liquid;
    font-size:10px;
    color: #textcolor1#;
    letter-spacing: 0.4px;
   }
span.ecran2_#ecran2_id# {
    font-family: liquid; 
    font-size:10px;
    color:  #textcolor2#;
    letter-spacing: 0.4px;
   }
span.ecran3_#ecran3_id# {
    font-family: liquid; 
    font-size:10px;
    color:  #textcolor3#;
    letter-spacing: 0.4px;
   }
span.ecran4_#ecran4_id# {
    font-family: liquid; 
    font-size:10px;
    color:  #textcolor4#;
    letter-spacing: 0.4px;
   }
</style>
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
    <center>#name#</center>

    <center>
	<span class="ecran1_#ecran1_id#" data-cmd_id="#ecran1_id#"><span id="#ecran1_id#" title="Ecran 1 (#ecran1_collect#)">#ecran1#</span></br>
	<span class="ecran2_#ecran2_id#" data-cmd_id="#ecran2_id#"><span id="#ecran2_id#" title="Ecran 2 (#ecran2_collect#)">#ecran2#</span></br>
	<span class="ecran3_#ecran3_id#" data-cmd_id="#ecran3_id#"><span id="#ecran3_id#" title="Ecran 3 (#ecran3_collect#)">#ecran3#</span></br>
	<span class="ecran4_#ecran4_id#" data-cmd_id="#ecran4_id#"><span id="#ecran4_id#" title="Ecran 4 (#ecran4_collect#)">#ecran4#</span></br>
	</center>
</div>

